<%= simple_form_for @proposal, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Proposal</legend>
    <%= f.error_notification %>
<%= f.input :proposal_name %>
<%= f.input :description %>

<%= hidden_field_tag 'user_id', params[:user_id]%>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', proposals_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
